body{
    background-color: #f7f7f7;
    font-family: 'Inter';
    margin-top: 20px;
    transition: 0.2s ease all;
}

main{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.switch{
    position: relative;
    top: 0px;
    right: 20px;
    float: right;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding:5px;
    border: 0.2px solid #7979798e;
    background: transparent;
    box-shadow: 1px 0.5px 0.5px 0.5px  rgba(0, 0, 0,0.3);
}
.switch span{
    display: flex;
    align-content: center;
}


#light{
    margin: 0 auto;
    position: absolute;
    opacity: 0;
}
.darkmode #dark{
    position: absolute;
    opacity: 0;
    
}
.darkmode #light{
    display: flex;
    align-items: center;
    position: relative;
    opacity: 1;
    color: white;
}
#light ion-icon{
    margin: 0 auto;
}
#dark ion-icon{
    margin: 0 auto;
}

.switch:hover{
    transition: 0.1s;
    background-color: #ffffffd5;
    box-shadow: 1px 1px 1px 1px  rgba(0, 0, 0,0.3);
    
}
.darkmode .switch:hover{
    transition: 0.1s;
    background-color: rgba(230, 230, 230, 0.158);
   

}

body.darkmode {
    background-color: #302d2a;
    color: white;
    transition: 0.2s ease all;
}
.darkmode #switch{
    color: white;
}
.darkmode #switch{
    color: white;
}

.mypage p{
    font-size: 14px;
}

.first-view {
    width: 250px;
    margin: 0 auto;
}
.first-view a{
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(35, 35, 35);
}
.darkmode #cardview{
    background-color:#302d2a ;
    color: white;
    border: 0.3px solid #7a7a7a;
    
}

.cardview{
    margin: 10px;
    padding: 7px;
    border: 0.3px solid #474747;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
   
}

.cardview:hover{
    transform: scale(1.04);
    background-color: #fbffca;
    
}


.about-section {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 30px 30px;
    padding: 5px;

   
}
.about-section h2{
   margin: 0;
}
.about-section section{
    margin: 0 15px;

}
.about-section ul{
    font-size: 14px;
    padding: 0;
    list-style: none;
}

.about-section a{
    color: #6b6bf3;
}

.experience-view{
    position: relative;
    margin: 0 auto;
    padding: 5px;
    width: 56%;
}

.job-pos{
    display: inline-flex;
    align-content: space-between;
    font-size: 12px;
    font-weight: 400;
    margin-left:  10px;
}
.date{
    font-size: 11px;
    margin: 0;
    padding: 0;
}
.experience-view p{
    font-size: 14px;
}
.tools{
    margin: 0;
    padding: 0;
}
h3{
    margin: 2px 0;
    padding: 2px 0;
}
.tools span{
    position: relative;
    font-size: 10px;
    margin-right: 3px;
    padding: 2px 5px;
    border-radius: 5px;
}

.projects-view{
    position: relative;
    margin: 0 auto;
    padding: 5px;
    width: 56%;
    height:fit-content;
   
}
.projects-view p{
    font-size: 14px;
    
}


.img-container img{
    width: 300px; 
    float: left;
    padding: 1px; 
    margin-right: 3px;
    border-radius: 10px;

}

.projects-view section{
    height: 170px;
    margin-bottom: 10px;
    
}

.github-link{
    position: relative;
    float: right;
    display: flex;
    justify-items: center;
    background-color:#fff;
    padding:1px 6px;
    border: 0.3px solid #474747;
    border-radius: 3px;
    color: #474747;
    text-decoration: none;
}
.name-icon{
    font-size: 10px;
    position: relative;
    top: 4.5px;
}

ion-icon {
    top: 4.5;
    margin-right: 3px;
    font-size: 16px;
  }

  .github-link:hover{
    background-color: #474747;
    color: #fff;
    border-style: none;
  }


.connect-form{
    position: relative;
    top: 50px;
    margin: 0 auto;
    padding: 5px;
    width: 40%;
    text-align: center;
}
.connect-form form{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.connect-form input{
    display: block;
    margin: 10px 0px;

}
#email-input{
    width: 200px;
    padding:4px;
    font-size: 12px;
    border: 0.3px solid #000000;
    border-radius: 3px;
    margin-bottom: 0;
}
#subject {
    width: 200px;
    font-size: 12px;
    padding: 3px;
    border: 0.3px solid #000000;
    border-radius: 3px;

}
#msg-input{
    font-size: 12px;
    font-family: 'Inter';
    width: 200px;
    padding: 3px;
    border-radius: 3px;
    border: 0.3px solid #000000;
   

}
#submit-btn{
    margin-top: 5px;
    font-family: 'Inter';
    font-weight: 600;
    border:none; 
    border-radius: 3px;
    background-color: #6b6bf3;
    color: white;  
    padding: 5px;
    cursor: pointer;

}
#submit-btn:hover{
    background-color: #4f4fbb;
}

#openSendEmail{
    opacity: 0;
    position: relative;
    left: -200px;}


@media only screen and (max-width: 480px) {
    .first-view{
    width:100%;
    }
    main{
    width:100%;
    }
    .about-section{
        position: relative;
        display: block;
       
    }
    .about-section section{
        position: relative;
        display:block
    }
    .experience-view{
        width: 90%;
    }
    .projects-view{
        display: block;
        
        width: 90%;
    }
    

    
    .img-container img{
        width: 100%;
        float: none;
        margin-bottom: 5px;
    
    }
    .projects-view section{
        display: block;
        height: fit-content;
        
    }
    .projects-view p{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 980px) {
    .projects-view{
        display: block;
        
        width: 90%;
    }
    

    
    .img-container img{
        width: 100%;
        float: none;
        margin-bottom: 5px;
    
    }
    .projects-view section{
        display: block;
        height: fit-content;
        margin-bottom:10px;
    }

}